[Unit]
Description=Ryzen Mobile Limiter
After=basic.target

[Service]
ExecStart=/bin/python3 /usr/local/src/ryzenm-limit/daemon.py
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
