[Unit]
Description=Ryzen Mobile Limiter
After=basic.target

[Service]
ExecStart=/usr/local/bin/ryzenm-limit start
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
